@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov/Volkhov-Regular.ttf");
}

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov/Volkhov-Bold.ttf");
    font-weight: bold;
}


@font-face {
    font-family: "Spectral";
    src: url("../fonts/Spectral/Spectral-Regular.ttf");
}

:root {
    --header-footer-height: 64px;
    --big-link-size: 1.5rem;
    --small-link-size: 1rem;
    --header-size: 3rem;
    --header-two-size: 2rem;
    --header-three-size: 1rem;
    --tablet-header-size: 2.5rem;
    --phone-header-size: 2rem;

    --nav-link-color: color(srgb 0.36 0.22 0.07);
    --background-color: #fff6eb;
    --on-background-color: #1d1a15;
    --primary-color: #705d0d;
    --on-primary-color: #ffffff;
    --primary-container: #fce186;
    --on-primary-container: #554500;
    --surface-container: #f5eddf;
    --text-color: #201d18;
}

/* Common between page styles */

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color, white);
}
  
nav {
    display: flex;
    height: var(--header-footer-height, 64px);
    justify-content: space-between;
    align-items: center;
    font-family: "Volkhov", Arial, Sans-serif;
    font-weight: bold;
}

nav ul {
    width: 15rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: var(--small-link-size);
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--nav-link-color, brown);
    transition: transform 0.3s;
}
  
nav a:hover {
    transform: scale(1.1);
}

nav svg {
    display: none;
}

#main-link {
    color: var(--nav-link-color, brown);
    font-size: var(--big-link-size);
    margin-left: 1rem;
}

hr {
    display: none;
}

footer {
    min-height: var(--header-footer-height, 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-family: "Volkhov", Arial, Sans-serif;
}

footer > :first-child {
    margin-left: 1rem;
}

footer > :last-child {
    margin-right: 1rem;
}

footer a {
    font-size: (--big-link-size, 1.5rem);
    text-decoration: none;
    color: var(--nav-link-color, brown);
    font-weight: bold;
    transition: transform 0.3s;
}

footer a:hover {
    transform: scale(1.1);
}

footer small {
    font-size: var(--small-link-size, 1rem);
    color: var(--nav-link-color, brown);
}

/* Page styles */

main {
    font-family: "Spectral", Arial, Sans-serif;
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

form {
    width: 40%;
    height: fit-content;
    background-color: var(--surface-container, gray);
    padding: 2rem;
    border-radius: 2rem;
}

fieldset:has(input:invalid) button, 
fieldset:has(textarea:invalid) button {
    opacity: 0.5;
    pointer-events: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;  
    color: var(--primary-color, brown);
}

legend {
    font-family: "Volkhov", Arial, Sans-serif;
    font-size: var(--header-size, 3rem);
    font-weight: bold;
}

label {
    font-family: "Volkhov", Arial, Sans-serif;
}

input, textarea {
    font-family: "Spectral", Arial, Sans-serif;
    margin-bottom: 1rem;
    border: 1px solid var(--on-primary-container, brown);
}

input:focus, textarea:focus {
    outline-color: var(--on-primary-container, brown);
}

button {
    align-self: end;
    width: 8rem;
    height: 2rem;
    color: var(--primary-color, brown);
    background-color: var(--primary-container, yellow);
    font-family: "Volkhov", Arial, Sans-serif;
    border-radius: 2rem;
    border: 1px solid var(--primary-color, brown);
    font-weight: bold;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

#error-output {
    color: red;
}

address {
    width: 40%;
    color: var(--primary-color, brown);
}

address h1 {
    font-family: "Volkhov", Arial, Sans-serif;
    font-size: var(--header-size, 3rem);
    font-style: normal;
    font-weight: bold;
}

address a {
    text-decoration: none;
    color: var(--primary-color, brown);
    font-weight: bold;
    transition: transform 0.3s;
    display: inline-block;
}

address a:hover {
    transform: scale(1.1);
}

#address-container {
    height: fit-content;
    background-color: var(--primary-container, yellow);
    padding: 1rem;
    border-radius: 2rem;
}

/* Tablet/Restrictive Laptop Breakpoint */

@media screen and (min-width: 778px) and (max-width: 1023px) {
    main {
        flex-direction: column;
    }

    form, address {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 2rem;
    }

    address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Phone Breakpoint */

@media screen and (max-width: 777px) {
    nav ul {
        display: none;
    }

    nav svg {
        display: block;
        margin-right: 1rem;
        fill: var(--nav-link-color, brown);
    }

    main {
        flex-direction: column;
    }

    form, address {
        box-sizing: border-box;
        margin-bottom: 2rem;
    }

    form {
        min-width: 100%;
    }

    address {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 395px) {
    legend, address h1 {
        font-size: 32px;
    }

    footer a, footer p small {
        font-size: 12px;
    }
}