@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov/Volkhov-Regular.ttf");
}

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov/Volkhov-Bold.ttf");
    font-weight: bold;
}


@font-face {
    font-family: "Spectral";
    src: url("../fonts/Spectral/Spectral-Regular.ttf");
}

:root {
    --header-footer-height: 64px;
    --big-link-size: 1.5rem;
    --small-link-size: 1rem;
    --header-size: 3rem;
    --header-two-size: 2rem;
    --header-three-size: 1rem;
    --tablet-header-size: 2.5rem;
    --phone-header-size: 2rem;

    --nav-link-color: color(srgb 0.36 0.22 0.07);
    --background-color: #fff6eb;
    --on-background-color: #1d1a15;
    --primary-color: #705d0d;
    --on-primary-color: #ffffff;
    --primary-container: #fce186;
    --on-primary-container: #554500;
    --surface-container: #f5eddf;
    --text-color: #201d18;
}

/* Theme picker styles */

:root.dark-theme {
    --background-color: #292524;
    --on-background-color: #f5f5f4;
    --primary-color: #fde68a;
    --on-primary-color: #292524;
    --primary-container: #6b5d00;
    --on-primary-container: #fff8c7;
    --surface-container: #44403c;
    --text-color: #e7e5e4;
    --nav-link-color: #fde68a;
}

#theme-toggle {
    transition: transform 0.3s;
    fill: var(--nav-link-color, brown);
}

#theme-toggle:hover {
    transform: scale(1.1);
}

/* Common between page styles */

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color, white);
}
  
nav {
    display: flex;
    height: var(--header-footer-height, 64px);
    justify-content: space-between;
    align-items: center;
    font-family: "Volkhov", Arial, Sans-serif;
    font-weight: bold;
}

nav ul {
    width: 15rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: var(--small-link-size);
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--nav-link-color, brown);
    transition: transform 0.3s;
}
  
nav a:hover {
    transform: scale(1.1);
}

#hamburger-menu {
    display: none;
}

#main-link {
    color: var(--nav-link-color, brown);
    font-size: var(--big-link-size);
    margin-left: 1rem;
}

hr {
    display: none;
}

footer {
    min-height: var(--header-footer-height, 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-family: "Volkhov", Arial, Sans-serif;
}

footer > :first-child {
    margin-left: 1rem;
}

footer > :last-child {
    margin-right: 1rem;
}

footer a {
    font-size: (--big-link-size, 1.5rem);
    text-decoration: none;
    color: var(--nav-link-color, brown);
    font-weight: bold;
    transition: transform 0.3s;
}

footer a:hover {
    transform: scale(1.1);
}

footer small {
    font-size: var(--small-link-size, 1rem);
    color: var(--nav-link-color, brown);
}

/* Common between page styles */

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color, white);
}
  
nav {
    display: flex;
    height: var(--header-footer-height, 64px);
    justify-content: space-between;
    align-items: center;
    font-family: "Volkhov", Arial, Sans-serif;
    font-weight: bold;
}

nav ul {
    width: 15rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: var(--small-link-size);
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--nav-link-color, brown);
    transition: transform 0.3s;
}
  
nav a:hover {
    transform: scale(1.1);
}

#hamburger-menu {
    display: none;
}

#main-link {
    color: var(--nav-link-color, brown);
    font-size: var(--big-link-size);
    margin-left: 1rem;
}

hr {
    display: none;
}

footer {
    min-height: var(--header-footer-height, 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-family: "Volkhov", Arial, Sans-serif;
}

footer > :first-child {
    margin-left: 1rem;
}

footer > :last-child {
    margin-right: 1rem;
}

footer a {
    font-size: (--big-link-size, 1.5rem);
    text-decoration: none;
    color: var(--nav-link-color, brown);
    font-weight: bold;
    transition: transform 0.3s;
}

footer a:hover {
    transform: scale(1.1);
}

footer small {
    font-size: var(--small-link-size, 1rem);
    color: var(--nav-link-color, brown);
}

/* Page styles */

main {
    font-family: "Spectral", Arial, Sans-serif;
    flex: 1;
    padding: 1rem;
}

main header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;
}

input {
    font-family: "Spectral", Arial, Sans-serif;
    margin-bottom: 1rem;
    border: 1px solid var(--on-primary-container, brown);
}

input:focus {
    outline-color: var(--on-primary-container, brown);
}

h1, h2 {
    font-family: "Volkhov", Arial, Sans-serif;
    color: var(--primary-color, brown);
}

h1 {
    font-size: var(--header-size, 3rem);
    grid-column: 2;
}

search {
    grid-column: 3;
    justify-self: end;
}

#search-container {
    display: inline-block;
}

search label {
    font-family: "Volkhov", Arial, Sans-serif;
    font-weight: bold;
    color: var(--primary-color, brown);
}

search button {
    width: 4rem;
    height: 1.5rem;
    color: var(--primary-color);
    background-color: var(--primary-container, yellow);
    font-family: "Volkhov", Arial, Sans-serif;
    border-radius: 2rem;
    border: 1px solid var(--primary-color, brown);
    font-weight: bold;
    transition: transform 0.3s;
}

search button:hover {
    transform: scale(1.1);
}

#projects-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

project-card {
    height: fit-content;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface-container, gray);
    padding: 2rem;
    border-radius: 2rem;
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 2rem;
}

/* Tablet/Restrictive Laptop Breakpoint */

@media screen and (min-width: 778px) and (max-width: 1023px) {
    
}

/* Phone Breakpoint */

@media screen and (max-width: 777px) {
    nav ul {
        display: none;
    }

    nav svg {
        display: block;
        margin-right: 1rem;
        fill: var(--nav-link-color, brown);
    }

    #projects-container {
        flex-direction: column;
    }

    search button {
        display: none;
    }
};